* {
  font-family: Karla;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: hsl(240, 16%, 14%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 4em;
  padding: 0 7em;
}

nav,
nav ul,
.nav-right,
header,
.projects,
.project,
.icon-container,
.icon {
  display: flex;
}

nav ul, header {
  justify-content: space-between;
}

h2 {
  margin-top: 30px;
}

/* HEADER */

header {
  align-items: center;
  padding: 0 1em;
  min-height: 100vh;
}

@media screen and (min-width: 1366px) {
  header {
    max-width: 70%;
  }
}

header h1 {
  padding: 1em;
}

header p {
  font-weight: bold;
}

header img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-left: 1em;
}

.header-image-top {
  display: none;
}

h2,
p {
  padding: .5em 0;
}

h2 {
  font-size: 2em;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

.resume,
.resume:visited {
  color: hsl(240, 16%, 14%);
  font-weight: 450;
}

.resume:hover {
  border-bottom: 4px solid hsl(240, 16%, 14%);
  padding-bottom: 5px;
}

/* NAV */

nav {
  background-color: hsl(240, 16%, 14%);
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  opacity: 98%;
  height: 4.5em;
  align-items: center;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  pointer-events: none;
}

nav ul {
  padding-right: 1.5em;
}

nav ul,
nav ul:visited,
nav ul:active {
  color: hsl(51, 21%, 93%);
  list-style-type: none;
}

.nav-left {
  border: 3px solid hsl(51, 21%, 93%);
  border-radius: 50%;
  color: hsl(51, 21%, 93%);
  margin-left: 1em;
  padding: .5em .7em;
}

.nav-left a {
  width: 100%;
  height: 100%;
  margin-left: 1em;
}

ul li {
  padding: .7em 0 .7em 1em;
}

a {
  text-decoration: none;
  color: hsl(51, 21%, 93%);
}

a:hover {
  color: hsl(305, 8%, 72%);
}

/* PROJECTS */

.projects {
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 70%;
}

.project {
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 1em 0;
  background-color: hsl(240, 6%, 91%);
  border-radius: 10px;
}

.project-image,
.project-description {
  padding: 20px;
}

.project-image {
  flex: 2;
  height: 100%;
}

.project-description {
  flex: 1;
}

.project-image img {
  width: 100%;
  height: auto;
  border-radius: 9px;
}

.project-description a {
  color: hsl(240, 18%, 35%);
  background-color: hsl(51, 21%, 93%);
  border: 2px solid hsl(240, 18%, 35%);
  border-radius: 10px;
  padding: 4px;
  font-weight: bold;
}

.project-description a:hover {
  color: hsl(51, 21%, 93%);
  background-color: hsl(240, 18%, 35%);
}

.project h3 {
  font-size: 30px;
}

/* ABOUT */

#about {
  margin-bottom: 1em;
}

#about h2 {
  padding-bottom: .5em;
}

/* CONTACT */

#contact {
  text-align: center;
  margin-bottom: 3em;
}

#contact i {
  margin: 0 .5em;
}

.icon-container,
.icon {
  justify-content: center;
  align-items: center;
}

.icon {
  height: 70px;
  width: auto;
}

.icon:hover {
  background-color: hsl(240, 6%, 91%);
  border-radius: 100%;
  transition: background-color 0.1s ease-in;
}

/* FOOTER */

.footer {
  color: hsl(51, 21%, 93%);
  background-color: hsl(240, 16%, 14%);
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 1em;
  padding: .5em;
  left: 0;
}

@media screen and (max-width: 1000px) {
  body {
    padding: 0 1em;
  }

  header {
    flex-direction: column;
    margin-bottom: 1.5em;
    margin-top: 8em;
  }

  .header-image-top {
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
  }

  .header-image {
    display: none;
  }

  .project {
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  header {
    margin-top: 3em;
  }

  .project-description, .project-image {
    padding: 10px;
  }

  .project-image img {
    border-radius: 5px;
  }

  .project h3 {
    font-size: 1.5em;
  }

  .projects {
    max-width: 90%;
  }

  .project-image,
  .project-description {
    flex: 1;
  }
}