* {
  font-family: Karla;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #1E1E2A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 4em;
  padding: 0 7em;
  color: #1E1E2A;
}

nav ul,
.nav-right {
  display: flex;
}

nav ul {
  justify-content: space-between;
}

h2 {
  margin-top: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-bottom: 5em;
  margin-top: 8em;
}

@media screen and (min-width: 1366px) {
  header {
    max-width: 70%;
  }
}

header h1 {
  padding: 1em;
}

header p {
  font-weight: bold;
}

header img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-left: 1em;
}

.header-image-top {
  display: none;
}

h2,
p {
  padding: .5em 0;
}

h2 {
  color: #1E1E2A;
  font-size: 2em;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

.resume,
.resume:visited {
  color: #1E1E2A;
  font-weight: 450;
}

/* NAV */

nav {
  background-color: #1E1E2A;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  opacity: 98%;
  height: 3em;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 2em;
}

nav ul,
nav ul:visited,
nav ul:active {
  color: #F2F1EB;
  list-style-type: none;
}

ul li {
  padding: .7em 0 .7em 1em;
}

a {
  text-decoration: none;
  color: #F2F1EB;
}

a:hover {
  color: #9a8c98;
}

/* PROJECTS */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 1em 0;
  background-color: #e7e7ea;
  border-radius: 10px;
}

.project-image, .project-description {
  flex: 1;
  padding: 20px;
}

.project-image img {
  width: 100%;
  height: auto;
  border-radius: 9px;
}

.project-description a {
  color: #49496b;
  background-color: #F2F1EB;
  border: 2px solid #49496b;
  border-radius: 10px;
  padding: 4px;
  font-weight: bold;
}

.project-description a:hover {
  color: #F2F1EB;
  background-color: #49496b;
}

.project h3 {
  font-size: 30px;
}

/* ABOUT */

#about {
  margin-bottom: 1em;
}

#about h2 {
  padding-bottom: .5em;
}

/* CONTACT */

#contact {
  text-align: center;
  margin-bottom: 3em;
}

#contact i {
  margin: 0 .5em;
}

/* FOOTER */

.footer {
  color: #F2F1EB;
  background-color: #28262b;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 1em;
  padding: .5em;
  left: 0;
}

@media screen and (max-width: 800px) {
  body {
    padding: 0 1em;
  }

  header {
    flex-direction: column;
    margin-bottom: 1.5em;
  }

  .header-image-top {
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
  }

  .header-image {
    display: none;
  }

  .project {
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
}